
/* 页面左右间距 */
$page-row-spacing: 30upx;
$page-color-base: #f8f8f8;
$page-color-light: #f8f6fc;
$base-color: #54b85d;

$background-color:#f5f5f5;

/* 文字尺寸 */
$font-ssm: 20upx;
$font-sm: 24upx;
$font-base: 28upx;
$font-lg: 32upx;
$font-llg: 40upx;
/*文字颜色*/
$font-color-dark: #303133;
$font-color-white: #fff;
$font-color-base: #606266;
$font-color-light: #909399;
$font-color-disabled: #C0C4CC;
$font-color-spec: #4399fc;
$font-color-emphasis: #54b85d;
$font-color-warning: #ff5500;
/* 边框颜色 */
$border-color-dark: #DCDFE6;
$border-color-base: #E4E7ED;
$border-color-light: #EBEEF5;
/* 图片加载中颜色 */
$image-bg-color: #eee;
/* 行为相关颜色 */
$uni-color-primary:#fa436a;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;
/* 按钮高亮颜色 */
$btn-color-light:#54b85d;
$btn-color-spec:#007aff;

